
/* @font-face {
  font-family: "Mandy's Sketch";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/18117.otf");
    
} */

@font-face {
  font-family: "Diamond Girl Skinny";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/19689.otf");
    
}

body {
  font-family: "Diamond Girl Skinny", cursive;
  font-size: 20px;
  letter-spacing: 1.5px;

 
}

h1 {
  text-align: center;
 
}

.keyboard-output {
  display: block;
  box-sizing: border-box;
  width: 70%;
  min-height: 20%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-family: "Diamond Girl Skinny", cursive;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: left;
  outline: none;
}

.open-btn {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "Diamond Girl Skinny", cursive;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.open-btn:hover {
  background-color: rgba(0, 0, 0, .03);
}

.open-btn:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

.keyboard {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 70%;
  animation-name: my-animation;
  animation-duration:3s;
  left: 15%;
  margin: 0 auto;
  padding: 5px;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}

@keyframes my-animation {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}

.keyboard__hidden {
  display: none;
  transition: display 2s;
  -webkit-transition: display 2s;
  -moz-transition: display 2s;
  -ms-transition: display 2s;
  -o-transition: display 2s;
}

.keyboard__keys {
  text-align: center;
 
  
}

.keyboard__key {
  box-sizing: border-box;
  width: 7%;
  min-height: 7%;
  padding: 3px 0 4px 0;
  margin: 3px;
  font-family: "Diamond Girl Skinny", cursive;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  border-radius: 3px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;

}

.keyboard__key:hover {
  background-color: rgba(0, 0, 0, .03);
}

.keyboard__key:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

.keyboard__key--double {
  -webkit-tap-highlight-color: transparent;
  padding: 7px;
  flex-shrink: 2;
  width: 12%;
}

.keyboard__key--space {
  width: 48%;
}

.keyboard__key--activable::after{
  content:"";
  top:10px;
  right:10px;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.4);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.keyboard__key--active::after{
  background: #00ff00;
}

@media (max-width: 800px){
  body{
    font-size: 9px;
  }
  .keyboard-output{
    width: 90%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .keyboard{
    width: 90%;
    left: 5%;
  }

  .keyboard__key{
    width: 7.6%;
    min-height: 20px;
    font-size: 16px;
    min-height: 5%;
    margin: 2px;
  }

  .keyboard__key--space {
    width: 48%;
  }

  .open-btn{
    width: 120px;
    height: 30px;
    padding-top: 6px;
    margin: 0 auto;   
    font-size: 20px;
  }

  .material-icons{
    font-size: 12px;
  }

  .keyboard__key--activable::after{
    top:3px;
    right:3px;
    width: 5px;
    height: 5px;
  }

  .keyboard__hidden{
    display: none;
  }
}